

<!--------------------- Prima sezione --------------------->

<div class="container-fluid px-0 container-main">

  <!-- Contenitore -->
  <div class="content-container row mx-0">
    <div class="col-12 px-0 mt-3">
      <div class="row mx-0 pl-5 pt-4 ">
        <div class="col-12 px-0">
          <h1 id="titolo-1-sezione-fu">

            {{'MEET_US_TITLE' | translate}}

          </h1>
        </div>
      </div>
      <div class="row mx-0 pl-5 pt-2">
        <div class="col-6 px-0 text-left">
          <p id="descr-1-sezione-fu">

            {{'MEET_US_DESCRIPTION' | translate}}

          </p>
        </div>

      </div>


      <!-- PROFILES SECTION -->
      <div class="row mx-0">

        <!-- PROFILE PRINT LOOP -->

        <!-- SINGLE PROFILE -->
        <div ng-repeat="profile in vm.profiles"  class="col-3 px-0 mx-5">

          <!-- PROFILE IMAGE -->
          <div class="row mx-0 pt-5">
            <div class="col px-0">
              <img class="my-1 img-fluid" src="{{profile.profile_picture.url}}" alt="{{profile.profile_picture.description}}">
            </div>
          </div> <!-- PROFILE IMAGE END -->

          <!-- PROFILE POSITIONS -->
          <div class="row mx-0 justify-content-between" ng-if=" (profile.positions != null) && (profile.positions.length > 0)">

            <div  class="my-1 px-2 py-1 justify-content-center text-center fu-infobox-primary">
              <p class="my-2 mx-2 fu-infotext-primary">
                {{profile.positions[0]}}
              </p>
            </div>

            <div ng-if=" profile.positions.length > 0" ng-repeat="position in profile.positions" ng-show="!$first" class="my-1 px-2 py-1 justify-content-center text-center fu-infobox-secondary" >
              <p class="my-2 mx-2 fu-infotext-secondary">
                {{position}}
              </p>
            </div>

          </div> <!-- PROFILE POSITIONS END -->

          <!-- PROFILE NAME -->
          <div class="row mx-0">
            <div class="col-12 px-0 py-3 text-left">
              <h5 class="fu-nome">
                {{profile.name}}
              </h5>
            </div>
          </div> <!-- PROFILE NAME END -->

          <!-- PROFILE DESCRIPTION -->
          <div class="row mx-0">
            <div class="col-12 px-0 text-left">
              <p class="fu-descrizione">

                {{profile.bio}}

              </p>
            </div>
          </div> <!-- PROFILE DESCRIPTION END -->

        </div> <!-- SINGLE PROFILE END -->

        

        

        
      </div>


    </div>
  </div>


</div>