


<div class="container-fluid px-0 container-main">
    
  <!--------------------- Sezione Heading --------------------->

  <div class="content-container row mx-0 sezione-heading-conoscici">
    <div class="col-12 px-0">

      <div class="row mx-0 pt-3 pt-sm-4 ml-3 ml-sm-5">
        <div class="col-12 px-0">
          <h1 class="gllText animate__animated animate__fadeIn animate__slow">

            {{'MEET_US_TITLE' | translate}}

          </h1>
        </div>
      </div>

      <div class="row mx-0 ml-3 ml-sm-5">
        <div class="col-11 col-sm-9 px-0 text-left sezione-heading-conoscici">
          <p class="gllText animate__animated animate__fadeIn animate__slow">

            {{'MEET_US_DESCRIPTION' | translate}}

          </p>
        </div>
    </div>
    </div>
  </div>


<!--------------------- Sezione Loop Profili --------------------->
  
<div id="scrollTop" style="overflow-x:auto;">
  <div style="height: 10px;margin: 0 1%;"></div>
</div>

  <div id="container-card-conoscici" class="content-container row mx-0 container-card-conoscici">

    <div class="col-12 px-0">
        <!-- PROFILE PRINT LOOP -->

        <div id="meetUsContainer" ng-if="isIdle()" class="row mx-0 px-3 px-sm-5 py-3 py-sm-5 d-flex flex-row flex-nowrap animate__animated animate__fadeIn animate__slow animate__delay-1s">
         
            
            <!-- SINGLE PROFILE -->
            <div ng-repeat="profile in vm.profiles"  class="col-11 col-sm-3 px-0 pt-0 pt-sm-0 card-progetto animate__animated animate__fadeIn">

              <!-- PROFILE IMAGE -->

              <div ng-if="profile.profile_picture != null && profile.profile_picture !== undefinited" class="row mx-0 pr-3 pr-sm-5">
                <div class="col-12 px-0 card-conoscici-img">

                  <div class="thumbnail"> 
                    <div class="profile">
                        <img class="my-1 img-fluid" ng-src="{{profile.profile_picture.url}}" alt="{{profile.profile_picture.description}}">
                    </div>
                    <div class="profileSecondary">
                        <img class="my-1 img-fluid" ng-src="{{profile.secondary_profile_picture.url}}" alt="{{profile.secondary_profile_picture.description}}">
                    </div>
                  </div>
                </div>
              </div>

              <!-- PROFILE IMAGE END -->

              <!-- PROFILE POSITIONS -->

              <div class="row mx-0 pr-2 pr-sm-4 py-0 py-sm-2 d-flex flex-row flex-wrap justify-content-between container-positions" ng-if="profile.positions != null && profile.positions.length > 0">

                <div class="col-auto px-0 my-1 px-2 py-1 justify-content-center text-center primario">
                  <p class="my-2 mx-2">
                    {{profile.positions[0]}}
                  </p>
                </div>

                <div ng-repeat="position in profile.positions track by $index" ng-if="!$first" class="col-auto px-0 my-1 px-2 py-1 justify-content-center text-center secondario" >
                  <p class="my-2 mx-2">
                    {{position}}
                  </p>
                </div>

              </div>

              <!-- PROFILE POSITIONS END -->

              <!-- PROFILE NAME -->
              <div class="row mx-0 pr-2 pr-sm-5 py-1 py-sm-1 container-nome">
                <div class="col-12 px-0 text-left">
                  <p class="gllText mb-0 mt-0 mt-sm-1">
                    {{profile.name}}
                  </p>
                </div>
              </div> <!-- PROFILE NAME END -->

              <!-- PROFILE DESCRIPTION -->
              <div class="row mx-0 pr-2 pr-sm-5 container-descrizione">
                <div class="col-12 px-0 text-left">
                  <p class="gllText">

                    {{profile.bio}}

                  </p>
                </div>
              </div> <!-- PROFILE DESCRIPTION END -->

            </div>

        </div>
        
        <!-- SINGLE PROFILE END -->


        <!-- SKELETRON -->

        <div ng-if="isLoading() || isInitial()" class="skeletron">
          <h2></h2>
          <p></p>
          <h2></h2>
          <p></p>
        </div>
        

        <!-- 404 meet us -->

        <div ng-if="isFailed()" class="row mx-0 error-content pt-4 pb-5 animate__animated animate__fadeIn animate__slow">
          <div class="col px-0 pt-3 pt-sm-4 ml-3 ml-sm-5">
            <h1>{{'404_MEET_US_TITLE' | translate}}</h1>
            <h3>{{'404_MEET_US_DESCRIPTION' | translate}}</h3>
            <hr class="my-4">
            <p>{{'404_MEET_US_SUBTITLE' | translate}}</p>
          </div>
        </div>



    </div>
  </div>


</div>