(function () {
    'use strict';

    angular
        .module('app')
        .constant('AppInfo', {
            VERSION : {
                MAJOR : 0,
                MINOR : 8,
                BUILD : 2
            },
            NAME : "B5 Frontend"
        })
        .constant('Settings',{
            APIURL : 'api url here',
            LOCALE_FILE_PREFIX : 'app-content/locales/locale-',
            LOCALE_FILE_SUFFIX : '.json',
            DEFAULT_LANG : 'it',
            CURSOR_THEME : 'RED',  //See gllCursor documentation for changes
            CURSOR_LAZYNESS : 200,
            DEFAULT_REDIRECT : '/',
            IUBENDA_PRIVACY_POLICY_APIURL : 'iubenda privacy policy api url here',
            IUBENDA_IT_CODE : 00000000,
            IUBENDA_EN_CODE : 00000000,
            IUBENDA_FR_CODE : 00000000,
        })
        .constant('Categories', {
            MAGAZINE : [
                'magazine category slug here',
                '...'
            ],
            WORKS : [
                'work category slug here',
                '...',
            ]
        })
        .constant('HomeSettings', {
            WORK_ARTICLES : [
                'work slug article here',
                '...',
            ],

            COLOSSEO_ARTICLE_SLUG : 'anfiteatro flavio slug here'
        })
        .constant('Status', {
            INIT : 1,
            LOADING : 2,
            FAILED : 3,
            IDLE : 4
        })       



})();