<!--------------------- Sezione heading --------------------->

<div class="container-fluid px-0 container-main">

    <!-- Contenitore -->
    <div class="content-container row mx-0">
        <div class="col-12 px-0 mt-3 mt-sm-4 sezione-heading-articolo-magazine">
            <div class="row mx-0 pr-3 pr-sm-5">
                <div class="col-1 col-sm-9 px-0">

                </div>

                <div class="col-11 col-sm-3 px-0 text-right">
                    <a href="javascript:history.back()">
                        <span>
                            {{'BACK_BUTTON' | translate}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--------------------- Sezione articolo--------------------->

    <div ng-if="isIdle()"  class="container-fluid px-0 container-main animate__animated animate__fadeIn" >

        <!-- Contenitore -->
        <div class="content-container row mx-0 sezione-articolo-magazine">
            <div class="col-12 px-0 py-3 py-sm-4">
                <div class="row mx-0 px-3 px-sm-5">
                    <div class="col-12 col-md-4 px-0 box-left">

                        <div class="row mx-0 pb-1 m-3 m-sm-4">
                            <div class="col-12 px-0 img-fluid img" style="background-image: url('{{vm.postInfo.thumbnail_url}}');">
                            </div>

                        </div>
                        <div class="row mx-0 py-1 py-sm-2 px-3 px-sm-4">
                            <div class="col-12 px-0 text-left d-table">
                                <div class="row mx-0">
                                    <p class="titolo gllText">{{vm.postInfo.title}}</p>
                                </div>
                            

                                <div class="row mx-0">
                                    <p class="data">
                                        {{vm.postInfo.posted_at | date: 'EEEE' | translate}}
                                        {{vm.postInfo.posted_at | date: 'd' | translate}}
                                        {{vm.postInfo.posted_at | date: 'MMMM' | translate}}
                                        {{vm.postInfo.posted_at | date: 'yyyy'}}</p>
                                </div>

                            </div>
                        </div>


                        <div class="row mx-0 py-1 py-sm-3 px-3 px-sm-4 sticky-top">
                            
                            <div class="col-8 px-0 pt-5 pt-sm-0 sezione-condividi">
                                <div class="row mx-0">
                                    <p class="mb-0 mb-sm-1 titolo">{{"SHARE_LABEL" | translate}}</p>
                                </div>

                                <div class="row mx-0 py-0 py-sm-0 justify-content-around">
                                    <div class="col-12 col-lg-6 px-0">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://b5srl.eu/b5_frontend/magazine?post={{vm.postInfo.slug}}&lang={{lang}}">
                                            <p class="link">facebook</p>
                                        </a>
                                    </div>

                                    <div class="col-12 col-lg-6 px-0">
                                        <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://b5srl.eu/b5_frontend/magazine?post%3D{{vm.postInfo.slug}}&lang%3D{{lang}}">
                                            <p class="link">linkedin</p>
                                        </a>
                                    </div>
                                </div>



                            </div>

                            <div class="col-2">
                            
                            </div>
                        </div>



                    </div>



                    <div class="col-12 col-md-8 px-0 pt-5 pt-sm-0 pb-5 pb-sm-0 pl-0 pl-sm-3 box-right">

                        <div class="row mx-0 box-right-border">
                            <div class="col-12 px-0">
                                <div class="row mx-0">
                                    <div class="col-12 col-sm-8 px-0 mb-3 order-2 order-sm-1"></div>
                                    <div class="col-12 col-sm-4 px-0 mb-3 d-table order-1 order-sm-2 text-center categoria">
                                        <p class="p-2 d-table-cell align-middle">{{vm.postInfo.category_slug | translate}}</p>
                                    </div>
                                </div>
                                <div class="row mx-0 p-4 sezione-contenuto-articolo">
                            
                                        <div ng-bind-html="postContent" class="col-12 px-0 gllText"></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- SKELETRON -->

    <div ng-if="isLoading() || isInitial()" class="skeletron">
        <h2></h2>
        <p></p>
        <h2></h2>
        <p></p>
    </div>

    <!-- 404 meet us -->
    <div ng-if="isFailed()" class="row mx-0 error-content pt-4 pb-5 animate__animated animate__fadeIn animate__slow">
        <div class="col px-0 pt-3 pt-sm-4 ml-3 ml-sm-5">
            <h1 class="gllText">{{'404_MAGAZINE_ARTICLE_TITLE' | translate}}</h1>
            <h3 class="gllText">{{'404_MAGAZINE_ARTICLE_DESCRIPTION' | translate}}</h3>
            <hr class="my-4">
            <p  class="gllText">{{'404_MAGAZINE_ARTICLE_SUBTITLE' | translate}}</p>
        </div>
    </div>
</div>