
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


::selection {
  background: var(--b5rosso);
  color: var(--b5bianco);
  text-shadow: none;
}

::-moz-selection {
  background:  var(--b5rosso);
  color: var(--b5bianco);
  text-shadow: none;
}

:root{
  --b5blu: #010088;
  --b5bianco: #EFEFEF;
  --b5rosso: #C11010;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }


body{
	background-color: var(--b5bianco);
	font-family: 'Jost', sans-serif;
    cursor: none;
}

#views-container{
  margin-top:44px;
}

.gllText,
.gllBlock,
.gllText > *,
.gllBlock > *,
.gllText:hover,
.gllBlock:hover
{
  cursor:none;
}


.navbar-custom{
	padding: 0px;
	margin: 0px;
	display: flex;
  border: 2px solid var(--b5blu);
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: var(--b5blu);
}


.navbar-custom > .navbar-nav-custom{
  padding-left: 0px;
  margin: 0px;
}



.navbar-custom > .navbar-brand-custom{
  padding: 10px 50px;
  margin-right: 1.5px;
  color: #010088;
  background-color: var(--b5bianco);
  font-size: 16px;
}

.navbar-custom > .navbar-brand-custom:focus{
  padding: 10px 50px;
  margin-right: 1.5px;
  color: var(--b5bianco);
  background-color: var(--b5blu);
  font-size: 16px;
}

.navbar-custom > .navbar-brand-custom:hover{
  padding: 10px 50px;
  color: white;
  background-color: #010088;
  font-size: 16px;
}

/*
.navbar-nav-custom > .nav-item-logo{
	display: flex;
    list-style: none;
box-sizing: border-box;
}


.navbar-nav-custom > .nav-item-logo > .nav-link{
	display: inline-block;
    text-decoration: none;
    padding-left: 70px;
    color: #010088;
    background-color: #EFEFEF;
	}
	
*/

.navbar-nav-custom > .nav-item > .nav-link {
    padding: 10px 50px;
    text-decoration: none;
    margin: 0px 1.5px;
    color: var(--b5bianco);
  }

  .navbar-nav-custom > .nav-item > .nav-link:focus {
    padding: 10px 50px;
    margin: 0px 1.5px;

    text-decoration: none;
    background-color: var(--b5bianco);
    color: var(--b5blu);
  }

  .navbar-nav-custom > .nav-item:hover {
	background-color: var(--b5bianco);
    box-sizing: border-box;
    transition-duration: 200ms;
  }

  .navbar-nav-custom > .nav-item:active {
	background-color: var(--b5bianco);
box-sizing: border-box;
  }

  .navbar-nav-custom > .nav-item > .nav-link:hover {
	color: #010088;
  }

	

  
.dropdown {color: var(--b5bianco);}

.dropdown .nav-link {color: var(--b5bianco)}
.dropdown .dropdown-menu a{color: var(--b5blu);}
.dropdown .btn {
  background: green; color:#fff;
}

.dropdown-menu .dropdown-item {
  display: inline-block; width: 100%; 
}
.container .dropdown .dropdown-menu a:hover
{
  color: #fff;
  background-color: #b91773;
  border-color: #fff;
}

  
/*
.navbar-custom > .navbar-brand > a{
	display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    padding-left: 70px;
    color: #010088;
    background-color: #EFEFEF;
}
*/

h1{
  color: var(--b5blu);
}

p{
  color: var(--b5blu);
}


/* TEMA FIND-US */

#titolo-1-sezione-fu{
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 101px;
  letter-spacing: 0.83em;
  text-transform: uppercase;
}

#descr-1-sezione-fu{
  font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
}

.fu-infobox-primary{
  background-color: var(--b5blu);
  position:relative;
}

.fu-infotext-primary{
  color: var(--b5bianco);
  font-size: 13px;
  position:relative;

}

.fu-infobox-secondary{
  border: 2px solid var(--b5blu);
  font-size: 13px;
  position: relative;
}

.fu-infotext-secondary{
  color: var(--b5blu);
}

.fu-nome{
  font-weight: 600;
  font-size: 23px;
line-height: 107.5%;
/* identical to box height, or 25px */

letter-spacing: 0.19em;
text-transform: uppercase;
color: var(--b5blu);
}

.fu-descrizione{
  font-weight: 400;
font-size: 20px;
line-height: 29px;
}





/* TEMA FOOTER */

.footer-media-section{
  background-color: var(--b5blu);
}

.logo-b5{
  width: 100%;
  height: 200px;
}

.link-utili-custom a{
  color: var(--b5blu);
  text-decoration-line: underline;
  font-size: 1.1rem;
}

.link-section-custom{
  border: 2px solid var(--b5blu);

}



.footer-media-section > .media-link-custom a{
  color: var(--b5bianco);
  text-decoration-line: underline;
  font-size: 1.1rem;

}

.footer-info-section a{
  color: var(--b5blu);
  font-size: 1.1rem;
}


/* TEMA LAVORI */


#titolo-1-sezione-work{
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 101px;
  letter-spacing: 0.83em;
  text-transform: uppercase;
}

#descr-1-sezione-work{
  font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
}

.titoli-sezioni-works{
font-style: normal;
font-weight: 700;
  font-size: 53px;
  line-height: 101px;
  letter-spacing: 0.30em;
  text-transform: uppercase;
  color: var(--b5blu);
}

.link-sezioni-works{
  text-decoration: underline;
}

/* TEMA MAGAZINE */


#titolo-1-sezione-mag{
  font-style: normal;
  font-weight: 600;
font-size: 4rem;
  letter-spacing: 0.7em;
  text-transform: uppercase;
}

#descr-1-sezione-mag{
  font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
}

.titoli-sezioni-mag{
font-style: normal;
font-weight: 700;
  font-size: 40px;
  line-height: 101px;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  color: var(--b5blu);
}

.link-sezioni-mag{
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
text-align: right;
text-decoration-line: underline;
}

.box-mag{
  border: 2px solid var(--b5blu);
}

.fu-infobox-primary{
  background-color: var(--b5blu);
  position:relative;
}

.mag-datatext{
  color: var(--b5blu);
  font-size: 16px;

  position:relative;
}

.mag-categorytext{
  color: var(--b5blu);
  font-size: 16px;
  font-weight: 500;
  position:relative;
}



.mag-titoloarticolo{
  font-weight: 700;
  font-size: 20px;
line-height: 107.5%;
/* identical to box height, or 25px */

letter-spacing: 0.10em;
color: var(--b5blu);
}

.mag-resarticolo{
  font-weight: 400;
font-size: 20px;
line-height: 24px;
}


/* GENERICO */


.container-main{
  position: relative;
}

.content-container{
  position: relative;
}



/*BUTTON MAGAZINE*/








.button-magazine>div:hover{
  background-color: var(--b5bianco);
  border-top: 1px solid var(--b5blu);
}


.button-magazine h1{
  color: var(--b5bianco);
}

.button-magazine h1:hover{
  color: var(--b5blu);
}







