:root {
    --b5blu: #010088;
    --b5bianco: #EFEFEF;
}



#cit-1-sezione {
    color: var(--b5blu);
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.11em;
}

#cit-name-1-sezione {
    color: var(--b5blu);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;


}

#titolo-2-sezione {
    color: var(--b5bianco);
    font-weight: 600;
    font-size: 100px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

#descr-2-sezione {
    color: var(--b5bianco);
    font-style: normal;
    font-weight: 400;
    font-size: 23px;

}


#titolo-3-sezione {
    color: var(--b5bianco);
    font-style: normal;
    font-weight: 600;
    font-size: 95px;
    line-height: 156px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

#descr-3-sezione {
    color: var(--b5bianco);
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;

}


/* SEZIONE PROGETTI */

#titolo-sezione-progetti {
    color: var(--b5blu);
    font-style: normal;
    font-weight: 600;
    font-size: 95px;
    line-height: 156px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

#sezione-progetti-headline {
    background-color: var(--b5bianco);
}

#sezione-progetti-list-articolo {
    border: 2px solid var(--b5blu);
}

.button-progetti {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid var(--b5blu);
}

.titolo-progetto-lista {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--b5blu);
}

.tipologie-progetto-lista-box {
    background-color: var(--b5blu);
}

.luogo-progetto-lista{
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    color: var(--b5blu);
}

.tipologie-progetto-lista-text {
    color: var(--b5bianco);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.categoria-progetto-lista-text {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--b5blu);
}


.categoria-progetto-lista-box{
    background-color: var(--b5bianco);
    border-top: 2px solid var(--b5blu);
  

}

.articoloshow-progetti{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 2px solid var(--b5blu);
    border-right: 2px solid var(--b5blu);
    border-bottom: 2px solid var(--b5blu);

}





/*Sliding button*/


.slideshow {
    height: 60px;
    /*max-width: 800px;*/
    /*The width of the page cannot be a problem*/
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    

}

.button-home {
    background-color: var(--b5bianco);
    border-bottom: 2px solid var(--b5blu);
}



.slideshow>div {
    width: 6020px;
    /*I don't want to have to input a width.*/
    position: absolute;
    top: 0;
    left: 0;
}

.slideshow>div:hover {
    width: 6020px;
    /*I don't want to have to input a width.*/
    position: absolute;
    top: 0;
    left: 0;

}

.button-home>div:hover {
    background-color: var(--b5blu);
}

.move>img {
    height: 115px;
}

.move {
    animation: moveSlideshow 21s linear infinite;
    transform: translateX(-12.5%);
    height: 100px;
}

.move h1 {
    display: inline-block;
    font-size: 27px !important;
    line-height: 1.1 !important;
    white-space: nowrap;
}

.button-home {
    color: var(--b5blu);
}


.button-home h1:hover {
    color: var(--b5bianco);

}

.move a {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 13px;

}


.slideshow .move:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

@keyframes moveSlideshow {
    0% {
        transform: translateX(-12.5%);
        ;
    }

    100% {
        transform: translateX(-41.6%);
    }
}


@media screen and (min-width: 992px) and (max-width: 1400px) {

    .slideshow {
        height: 70px;
    }

    .slideshow>div {
        width: 2790px;
    }

    .move {
        animation: moveSlideshow 18s linear infinite;
        transform: translateX(-19.8%);
        height: auto;
    }

    .move a {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .move h1 {
        font-size: 38px !important;
    }

    @keyframes moveSlideshow {
        0% {
            transform: translateX(-19.8%);
        }

        100% {
            transform: translateX(-62.4%)
        }
    }

}

@media screen and (max-width: 991px) {

    .slideshow {
        height: 50px;
    }

    .slideshow>div {
        width: 2790px;
    }

    .move {
        animation: moveSlideshow 18s linear infinite;
        transform: translateX(-25.3%);
        height: auto;
    }

    .move a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .move h1 {
        font-size: 25px !important;
    }

    @keyframes moveSlideshow {
        0% {
            transform: translateX(-25.3%);
            ;
        }

        100% {
            transform: translateX(-52.4%)
        }
    }


}

.container-cit{
    height: 80vh;
}

.container-seconda-sezione{
    border-top: 2px solid var(--b5blu);
}

.sezione-costruzioni{
    height: 40vh;
    border-bottom: 2px solid var(--b5blu);
}


.sezione-foto-chisiamo {
        /* The image used */
        background-image: url('C:\Users\vince\Documents\workspace\siti-web\b5\img\find-us-foto-test.jpg');
      
        height: 100vh;
      
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}