:root {
    --b5blu: #010088;
    --b5bianco: #EFEFEF;
}

.draw-container{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.content-container{
    width:100%;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
}

/* HERO */


.container-hero{
    height: 700px;
}


 .hero  h3 {
    color: var(--b5blu);
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.11em;
}

.hero h4 {
    color: var(--b5blu);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;

}

/* SECONDA SEZIONE */


.container-seconda-sezione{
    border-top: 2px solid var(--b5blu);
    height: 500px;
}

.seconda-sezione > .text{
    background-color: var(--b5blu);
}

.seconda-sezione h2 {
    color: var(--b5bianco);
    font-weight: 600;
    font-size: calc(5vw + 3vmin);
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.seconda-sezione p {
    color: var(--b5bianco);
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
}


/* TERZA SEZIONE */

.container-terza-sezione{
    height: 376px;
    background-color: var(--b5blu);
}


.terza-sezione h2{
    color: var(--b5bianco);
    font-weight: 600;
    font-size: calc(5vw + 3vmin);
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.terza-sezione p {
        color: var(--b5bianco);
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 30px;
}


/* SEZIONE PROGETTI */

.sezione-progetti h2{
    color: var(--b5blu);
    font-style: normal;
    font-weight: 600;
    font-size: 5.6rem;
    line-height: 156px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.sezione-progetti .box-left-lp{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 2px solid var(--b5blu);
    border-left: 2px solid var(--b5blu);   
    border-right: 2px solid var(--b5blu);   

}


#sezione-progetti-list-articolo {
    border: 2px solid var(--b5blu);
}


.button-lista-progetti {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 2px solid var(--b5blu);
}


.highlight_project{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 2px solid var(--b5blu);
    background-color: var(--b5blu);
}

.highlight_project .titolo-progetto-lista{
    color: var(--b5bianco);
}  

.highlight_project .tipologie-progetto-lista-box{
    border-top: 2px solid var(--b5blu);
    border-right: 2px solid var(--b5blu);
    background-color: var(--b5bianco);
}

.highlight_project .tipologie-progetto-lista-box > h3{
    color: var(--b5blu);
}

.highlight_project .luogo-progetto-lista{
    color: var(--b5bianco);
}  

.highlight_project .tipologie-progetto-lista-box{
    background-color: var(--b5bianco);
}

.titolo-progetto-lista {
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: var(--b5blu);
}

.titolo-progetto-lista:hover {
    text-decoration: none;
}


.tipologie-progetto-lista-box {
    background-color: var(--b5bianco);
    border-top: 2px solid var(--b5blu);
    border-right: 2px solid var(--b5blu);
}

.luogo-progetto-lista{
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    color: var(--b5blu);
}

.tipologie-progetto-lista-text {
    color: var(--b5blu);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.categoria-progetto-lista-text {
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--b5blu);
}


.categoria-progetto-lista-box{
    background-color: var(--b5bianco);
    border-top: 2px solid var(--b5blu);
  

}

.articoloshow-progetti{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 2px solid var(--b5blu);
    border-right: 2px solid var(--b5blu);
    border-bottom: 2px solid var(--b5blu);
    color: var(--b5blu);
    height: 671.5px;
    overflow-y: scroll;

}

/* SEZIONE MAGAZINE*/

.sezione-magazine h2{
    color: var(--b5blu);
font-weight: 600;
font-size: 5.6rem;
letter-spacing: 0.1em;
text-transform: uppercase;

}

.row-scorrevole-mag{
    overflow-x: scroll;
}




/*Marquee button*/

.marquee {
    width: 100%;
    max-width: 100%;
    height: 63px;
    white-space: nowrap;
    overflow: hidden; 
    border-top: 2px solid var(--b5blu);
    border-bottom: 2px solid var(--b5blu);
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 5s linear infinite;
  }

  .content{
    font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--b5blu);
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-20%);}
  }

  .marquee:hover .track{

-moz-animation-play-state: paused;
-webkit-animation-play-state: paused;
animation-play-state: paused;
  }

  .marquee:hover {
    background-color: var(--b5blu);
  }

  .marquee:hover .content{
    color: var(--b5bianco);
    text-decoration: none;
  }
  


/*Marquee button blu*/


.marquee-blu{
    width: 100%;
    max-width: 100%;
    height: 63px;

    white-space: nowrap;
    overflow: hidden; 
    background-color: var(--b5blu);
  }
  
  .track-blu {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee-blu 12s linear infinite;
  }

  .content-blu{
    font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--b5bianco);
  }
  
  @keyframes marquee-blu {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  .marquee-blu:hover .track-blu{

-moz-animation-play-state: paused;
-webkit-animation-play-state: paused;
animation-play-state: paused;
  }

  .marquee-blu:hover {
      box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--b5bianco);
    border-top: 2px solid var(--b5blu);
  }

  .marquee-blu:hover .content-blu{
    color: var(--b5blu);
    text-decoration: none;
  }

/* SEZIONE COSTRUZIONI */

.sezione-costruzioni{
    height: 371px;
    border-bottom: 2px solid var(--b5blu);
}


/* SEZIONE COLOSSEO */

.sezione-colosseo{
    height: 730px;
}


/*SEZIONE CHI SIAMO*/

.sezione-chisiamo{
    background-color: var(--b5blu);
    height: 30vh;
}

.sezione-chisiamo h3{
    color: var(--b5bianco);
    font-style: normal;
    font-weight: 600;
    font-size: 5.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.sezione-foto-chisiamo {
        height: 100vh;    
        overflow: hidden;
}

#foto-gruppo{

    background-image: url(../img/home/b5_chi_siamo_home.jpg);
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}










/* RESPONSIVE HOME */

@media (max-width: 1165px){



    .draw-container{
        display: none;
    }
    
    .draw-container-foto{
        display: inherit !important;
    }
    
    .content-container{
        width:100%;
        height: 100%;
        position: relative;
        top: 0;
        right: 0;
    }
    
    /* HERO */
    
    
    .container-hero{
        height: auto;
    }



    .container-hero .disegno1-mobile{
        background-image: url("../img/home/logo.png");
        aspect-ratio: 1/1;
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        height: 400px;
        width: 100%;
        margin-top: 50px;
    }

    .disegno2-mobile{
        background-image: url("../img/home/disegno2.png");
        aspect-ratio: 1/1;
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        background-color: var(--b5bianco);;
        height: 472px;
        width: 100%;
    }

    
     .hero h3 {
        color: var(--b5blu);
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5rem;
     
    }
    
    .hero h4 {
        color: var(--b5blu);
        font-style: normal;
        font-weight: 700;
        font-size: 1.2rem;
    
    }
    
    /* SECONDA SEZIONE */
    
    
    .container-seconda-sezione{
        border-top: 2px solid var(--b5blu);
        height: auto;
    }
    
    .seconda-sezione > div{
        background-color: var(--b5blu);
    }
    
    .seconda-sezione h2 {
        color: var(--b5bianco);
        font-weight: 600;
        font-size: calc(3vw + 2vh + 2vmin);
        letter-spacing: 0.12em;
        text-transform: uppercase;
    }
    
    .seconda-sezione p {
        color: var(--b5bianco);
        font-style: normal;
        font-weight: 400;
        font-size: calc(0.5vw + 0.5vh + 0.6vmin);
        line-height: 1.5rem;
    }
    
    
    /* TERZA SEZIONE */
    
    .container-terza-sezione{
        height: auto;
        background-color: var(--b5blu);
    }
    
    
    .terza-sezione h2{
        color: var(--b5bianco);
        font-weight: 600;
        font-size: calc(3vw + 2vh + 2vmin);
        letter-spacing: 0.12em;
        text-transform: uppercase;
    }
    
    .terza-sezione p {
            color: var(--b5bianco);
        font-style: normal;
        font-weight: 400;
        font-size: calc(0.5vw + 0.5vh + 0.6vmin);
        line-height: 1.5rem;
    }
    
    
    /* SEZIONE PROGETTI */
    
    .sezione-progetti h2{
        color: var(--b5blu);
        font-style: normal;
        font-weight: 600;
        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: 0.12em;
        text-transform: uppercase;
    }

    
    .sezione-progetti .box-left-lp{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-top: 2px solid var(--b5blu);
        border-left: 2px solid var(--b5blu);   
        border-right: 2px solid var(--b5blu);   
    
    }
    
    
    #sezione-progetti-list-articolo {
        border: 2px solid var(--b5blu);
    }
    
    
    
.button-lista-progetti {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 2px solid var(--b5blu);
}


.button-lista-progetti:hover{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 2px solid var(--b5blu);
    background-color: var(--b5blu);
}
    
    .button-lista-progetti:hover .titolo-progetto-lista{
        color: var(--b5bianco);
    }  
    
    .button-lista-progetti:hover .tipologie-progetto-lista-box{
        border-top: 2px solid var(--b5blu);
        border-right: 2px solid var(--b5blu);
        background-color: var(--b5bianco);
    }
    
    .button-lista-progetti:hover .tipologie-progetto-lista-box > h3{
        color: var(--b5blu);
    }
    
    .button-lista-progetti:hover .luogo-progetto-lista{
        color: var(--b5bianco);
    }  
    
    .button-lista-progetti:hover .tipologie-progetto-lista-box{
        background-color: var(--b5bianco);
    }
    
    .titolo-progetto-lista {
        font-style: normal;
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 1.9rem;
        text-transform: uppercase;
        color: var(--b5blu);
    }
    
    .tipologie-progetto-lista-box {
        background-color: var(--b5bianco);
        border-top: 2px solid var(--b5blu);
        border-right: 2px solid var(--b5blu);
    }
    
    .luogo-progetto-lista{
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        color: var(--b5blu);
    }
    
    .tipologie-progetto-lista-text {
        color: var(--b5blu);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }
    
    .categoria-progetto-lista-text {
        font-weight: 500;
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--b5blu);
    }
    
    
    .categoria-progetto-lista-box{
        background-color: var(--b5bianco);
        border-top: 2px solid var(--b5blu);
    }


    /* SEZIONE MAGAZINE*/
    
    .sezione-magazine h2{
        color: var(--b5blu);
        font-weight: 600;
        font-size: 3.5rem;
        letter-spacing: 0.2;
        text-transform: uppercase;
    }

    .row-scorrevole-mag{
        overflow-x: scroll;
    }
    
    
    
    
    
    /*Marquee button*/
    
    .marquee {
        width: 100%;
        max-width: 100%;
        height: 3.3rem;
        white-space: nowrap;
        overflow: hidden; 
        border-top: 2px solid var(--b5blu);
        border-bottom: 2px solid var(--b5blu);
      }
      
      .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 6s linear infinite;
      }
    
      .content{
          font-family: 'Jost';
          font-style: normal;
          font-weight: 600;
          font-size: 1.4rem;
          color: var(--b5blu);
      }
      
      @keyframes marquee {
        from { transform: translateX(0); }
        to { transform: translateX(-20%);}
      }
    
      .marquee:hover .track{
        -moz-animation-play-state: paused;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
      }
    
      .marquee:hover {
        background-color: var(--b5blu);
      }
    
      .marquee:hover .content{
        color: var(--b5bianco);
        text-decoration: none;
      }
      
    
    
    /*Marquee button blu*/
    
    
    .marquee-blu{
        width: 100%;
        max-width: 100%;
        height: 63px;
    
        white-space: nowrap;
        overflow: hidden; 
        background-color: var(--b5blu);
      }
      
      .track-blu {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee-blu 12s linear infinite;
      }
    
      .content-blu{
          font-family: 'Jost';
          font-style: normal;
          font-weight: 600;
          font-size: 1.8rem;
          color: var(--b5bianco);
      }
      
      @keyframes marquee-blu {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); }
      }
    
      .marquee-blu:hover .track-blu{
    
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
      }
    
      .marquee-blu:hover {
          box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-color: var(--b5bianco);
        border-top: 2px solid var(--b5blu);
      }
    
      .marquee-blu:hover .content-blu{
        color: var(--b5blu);
        text-decoration: none;
      }
    
    /* SEZIONE COSTRUZIONI */

    .sezione-costruzioni{
        background-image: url("../img/home/disegno3.svg");
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        height: 323px;
        width: 100%;
        border-bottom: 2px solid var(--b5blu);

    }

    /* SEZIONE COLOSSEO */

    .sezione-colosseo{
        background-image: url("../img/home/anfiteatro.png");
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        height: 713px;
        width: 100%;
    }


    
    /*SEZIONE CHI SIAMO*/
    
    .sezione-chisiamo{
        display: none;
    }
    
    .sezione-chisiamo h3{
        color: var(--b5bianco);
        font-style: normal;
        font-weight: 600;
        font-size: 3rem;
        line-height: 3.2rem;
        letter-spacing: 0.4em;
        text-transform: uppercase;
    }
    
    .sezione-foto-chisiamo {
            display: none;
    }
    
}

@media only screen and (max-width: 992px)  {

    .container-hero .disegno1-mobile{
        margin-top: 0;
        background-image: url("../img/home/logo_mobile.png");

    }

    .disegno2-mobile{
        height: 350px;
        background-image: url("../img/home/disegno2_mobile.png");
    }

    .sezione-costruzioni{
        height: 170px;
        background-image: url("../img/home/disegno3_mobile.svg");

    }

    .sezione-colosseo{
        height: 620px;
        background-image: url("../img/home/anfiteatro_mobile.png");

    }

    .terza-sezione p,.seconda-sezione p {
        font-size: 1.2rem;
    }

    .terza-sezione h2, .seconda-sezione h2 {
        font-size: 4.6rem;
    }

    .articoloshow-progetti{
        display: none;
    }

}


.chi-siamo-home-float{
    z-index: 1;
    position: absolute;
    border: 2px solid var(--b5blu);
    background-color: var(--b5bianco);
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    background-clip:content-box; 
}

.chi-siamo-home-float:hover{
    z-index: 1;
    position: absolute;
    background-color: var(--b5bianco);
    opacity: 1;
    border: 2px solid var(--b5blu);
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    background-clip:content-box; 
}


.chi-siamo-home-float p{
    font-size: 1.1rem;
    margin-right: 1.1rem;
    margin-left: 1.1rem;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}

.franc-bra { 
    top: 30%;
    left: 41%;
}


.ugo-bra{
    top: 45%;
    left: 40%;
}

.giu-dan{
    top: 40%;
    left: 80%;
}

.dav-pon{
    top: 18%;
    left: 38%;
}

.fab-min{
    top: 0;
    left: 0%;
}

.ang-lat{
    top: 50%;
    left: 60%;
}

.ste-gua{
    top: 48%;
    left: 68%;
}

.ale-fus{
    top: 55%;
    left: 53%;
}

.edo-sch{
    top: 0%;
    left: 0%;
}

.gia-mas{
    top: 46%;
    left: 75%;
}

.chi-val{
    top: 42%;
    left: 10%;
}

.mar-lil{
    top: 35%;
    left: 18%;
}

.sil-con{
    top: 30%;
    left: 23%;
}
/* DRAWS */

.svg-container{

    width: 100%;
    top:0;
    bottom:0;
    position: relative;
    text-align: center;

}

.draw{
    width: 100%;
    top:0;
    bottom:0;
    position: relative;
}


#draw_1 {
    stroke-dasharray: 7103.858703613281;
    stroke-dashoffset: 7103.858703613281;
    animation: draw-1 5s ease-in-out forwards;
}

@keyframes draw-1 {
    0% {
        stroke-dashoffset: 7103;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

#draw_2{
    stroke-dasharray: 9047.794921875;
    stroke-dashoffset: 9047.794921875;
}

.draw_2 {
    animation: draw-2 3s ease-in-out forwards;
}

@keyframes draw-2 {
    0% {
        stroke-dashoffset: 9047.794921875;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.draw_3 {
    /*stroke-dasharray: 1606.502197265625;
    stroke-dashoffset: 1606.502197265625;
    animation: draw-3 5s ease-in-out forwards;*/
    max-width: 100%;
}

@keyframes draw-3 {
    0% {
        stroke-dashoffset: 1606.502197265625;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

#draw_4{
    stroke-dasharray: 42682.160400390625;
    stroke-dashoffset: 42682.160400390625;
}

.draw_4 {
    max-width: 100%;
    animation: draw-4 7s ease-in-out forwards;
}

@keyframes draw-4 {
    0% {
        stroke-dashoffset: 42682.160400390625;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

#draw_5 {
    stroke-dasharray: 30576.379150390625;
    stroke-dashoffset: 30576.379150390625;
}

.draw_5 {
    max-width: 100%;
    animation: draw-5 5s ease-in-out forwards;
}

@keyframes draw-5 {
    0% {
        stroke-dashoffset: 30576.379150390625;
    }
    100% {
        stroke-dashoffset: 0;
    }
}