:root {
    --b5blu: #010088;
    --b5bianco: #EFEFEF;
    --b5rosso: #C11010;
}


/* HEADING */

.container-heading h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 8.4rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.container-heading p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--b5blu);
}



/* LISTA CATEGORIE */


.sezione-lista-categorie label {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--b5blu);
    float: left;
    border: 2px solid var(--b5blu);
    font-size: 13px;
    position: relative;

}

.sezione-lista-categorie input[type="checkbox"]:checked + label {
    color: var(--b5bianco);
    background-color: var(--b5blu);
}

.sezione-lista-categorie input[type=checkbox] {
    display: none;
    float: right;

}



/* CARD PROGETTI */

.card-progetto a{
        text-decoration: none;
}

.card-progetto-img {
    aspect-ratio: 1/1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid var(--b5blu);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

.card-progetto:hover .card-progetto-img{
    background-image: url("https://images.unsplash.com/photo-1569317002804-ab77bcf1bce4?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dW5zcGxhc2h8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60");
    background-color: var(--b5blu); 
    background-blend-mode: luminosity;
}


.card-progetto h3 {
    font-style: normal;
    text-transform: uppercase;
    color: var(--b5blu);
    font-weight: 600;
    font-size: 1.2rem;
}


.card-progetto h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--b5blu);
}

.card-progetto h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--b5bianco);
}

.card-progetto .categoria{
    background-color: var(--b5blu);
}

/* MOBILE */

@media (max-width: 575px) {

    .container-card-progetto  .col-sm-12, .container-card-progetto .col-lg-4{
        width: 300px;
        min-width: 300px;
        
    }


    .container-card-progetto{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .container-heading h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 3.4rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    .container-heading p {
        font-style: normal;
        font-weight: 400;
        font-size: 1.1rem;
        color: var(--b5blu);
    }


    /* LISTA CATEGORIE MOBILE */


    .sezione-lista-categorie p {
        font-style: normal;
        font-weight: 500;
        font-size: 0.7rem;
        text-transform: uppercase;
        color: var(--b5blu);
    }

    .sezione-lista-categorie>div>div>div {

        border: 2px solid var(--b5blu);
        position: relative;

    }


    /* CARD PROGETTI MOBILE */

    .card-progetto-img {
        background-image: url("https://images.unsplash.com/photo-1569317002804-ab77bcf1bce4?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dW5zcGxhc2h8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60");
        aspect-ratio: 1/1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .card-progetto-img:hover{
        background-image: url("https://images.unsplash.com/photo-1569317002804-ab77bcf1bce4?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dW5zcGxhc2h8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60");
        
    }


    .card-progetto h3 {
        font-style: normal;
        text-transform: uppercase;
        color: var(--b5blu);
        font-weight: 600;
        font-size: 0.9rem;
    }


    .card-progetto h4 {
        font-style: normal;
        font-weight: 400;
        font-size: 0.7rem;
        color: var(--b5blu);
    }

    .card-progetto h5 {
        font-style: normal;
    font-weight: 600;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: var(--b5bianco);
    }

}



/* ARTICOLO SINGOLO LAVORI */


/* SEZIONE HEADING */


.sezione-heading .img-work-article {
    background-image: url("https://images.unsplash.com/photo-1569317002804-ab77bcf1bce4?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dW5zcGxhc2h8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60");
    aspect-ratio: 16/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.sezione-heading span{
    font-style: normal;
    font-weight: 600;
    color: var(--b5rosso);
    font-size: 22px;
    text-align: center;
    text-decoration-line: underline;
}

/* SEZIONE HEADING INFO */

.box-custom-field{
    box-sizing: border-box;
}

.box-custom-field .info-titolo{
    background-color: var(--b5blu);
}

.box-custom-field .info-titolo p{
    
  font-style: normal;
    font-weight: 500;
    width: 100%;
    font-size: 0.7rem;
    color: var(--b5bianco);
    
}

.box-custom-field .info-descrizione{
    border-top: 2px solid var(--b5blu);
    border-bottom: 2px solid var(--b5blu);
    border-right: 2px solid var(--b5blu);
}

.box-custom-field .info-descrizione p{
    font-style: normal;
    font-weight: 400;
    width: 100%;
    font-size: 0.7rem;
    color: var(--b5blu);
}


.box-custom-field .titolo h1{
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
}


.box-custom-field .read-button a{
    font-weight: 600;
    font-size: 22px;
    color: var(--b5blu);
    text-decoration-line: underline;
}


.box-custom-field .descrizone p {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    color: var(--b5blu);
}



/*SEZIONE CONDIVIDI*/


.share-text-work-article {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.link-social-work-article {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-decoration-line: underline;
}



/* ARTICOLO SINGOLO LAVORI MOBILE*/

@media (max-width: 575px){


    /* SEZIONE HEADING MOBILECO */

.sezione-heading .img-work-article {
    aspect-ratio: 16/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
}

.sezione-heading span{
    font-style: normal;
    font-weight: 600;
    color: var(--b5rosso);
    font-size: 1rem;
    text-align: center;
    text-decoration-line: underline;
}

/* SEZIONE HEADING INFO */

.box-left{
    box-sizing: border-box;
}

.box-left .info-titolo{
    background-color: var(--b5blu);
}

.box-left .info-titolo p{
    
  font-style: normal;
    font-weight: 500;
    width: 100%;
    font-size: auto;
    color: var(--b5bianco);
    
}

.box-left .info-descrizione{
    border-top: 2px solid var(--b5blu);
    border-bottom: 2px solid var(--b5blu);
    border-right: 2px solid var(--b5blu);
}

.box-left .info-descrizione p{
    font-style: normal;
    font-weight: 400;
    width: 100%;
    font-size: auto;
    color: var(--b5blu);
}


.box-right .titolo h1{
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.box-right{
    height: 100%;
}
    

.box-right .read-button a{
    font-weight: 600;
    font-size: 1rem;
    color: var(--b5blu);
    text-decoration-line: underline;
}


.box-right .descrizone p {
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    color: var(--b5blu);
}



/*SEZIONE CONDIVIDI*/


.share-text-work-article {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    color: #000000;
}

.link-social-work-article {
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration-line: underline;
}

}

