:root {
    --b5blu: #010088;
    --b5bianco: #EFEFEF;
    --b5rosso: #C11010;
}


/* HEADING */

.container-heading h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.container-heading p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: var(--b5blu);
}



/* LISTA CATEGORIE */


.sezione-lista-categorie p {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
    color: var(--b5blu);
}

.sezione-lista-categorie>div>div>div {

    border: 2px solid var(--b5blu);
    font-size: 13px;
    position: relative;

}


/* CARD PROGETTI */


.card-progetto-img {
    background-image: url("https://images.unsplash.com/photo-1569317002804-ab77bcf1bce4?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dW5zcGxhc2h8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60");
    aspect-ratio: 1/1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.card-progetto:hover .card-progetto-img{
    background-image: url("https://images.unsplash.com/photo-1569317002804-ab77bcf1bce4?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dW5zcGxhc2h8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60");
    background-color: var(--b5blu); 
    background-blend-mode: luminosity;
}


.card-progetto h3 {
    font-style: normal;
    text-transform: uppercase;
    color: var(--b5blu);
    font-weight: 600;
    font-size: 22px;
}


.card-progetto h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--b5blu);
}

.card-progetto h5 {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--b5blu);
}

/* MOBILE */

@media (max-width: 575px) {

    .container-heading h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 2.7rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    .container-heading p {
        font-style: normal;
        font-weight: 400;
        font-size: 1.1rem;
        color: var(--b5blu);
    }


    /* LISTA CATEGORIE MOBILE */


    .sezione-lista-categorie p {
        font-style: normal;
        font-weight: 500;
        font-size: 0.7rem;
        text-transform: uppercase;
        color: var(--b5blu);
    }

    .sezione-lista-categorie>div>div>div {

        border: 2px solid var(--b5blu);
        position: relative;

    }


    /* CARD PROGETTI MOBILE */

    .card-progetto-img {
        background-image: url("https://images.unsplash.com/photo-1569317002804-ab77bcf1bce4?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dW5zcGxhc2h8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60");
        aspect-ratio: 1/1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .card-progetto-img:hover{
        background-image: url("https://images.unsplash.com/photo-1569317002804-ab77bcf1bce4?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dW5zcGxhc2h8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60");
        
    }


    .card-progetto h3 {
        font-style: normal;
        text-transform: uppercase;
        color: var(--b5blu);
        font-weight: 600;
        font-size: 1rem;
    }


    .card-progetto h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 0.6rem;
        color: var(--b5blu);
    }

    .card-progetto h5 {
        font-style: normal;
        font-weight: 300;
        font-size: 0.7rem;
        text-transform: uppercase;
        color: var(--b5blu);
    }

}



/* WORK ARTICLE NEW */


.img-work-article {
    background-image: url("https://images.unsplash.com/photo-1569317002804-ab77bcf1bce4?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dW5zcGxhc2h8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60");
    aspect-ratio: 16/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    height: 70vh;
}


.img-single-work-article {
    background-image: url(../img/test_lavoro_single_1.jpg);
    aspect-ratio: 16/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.img-single-work-article-2 {
    background-image: url(../img/test_lavoro_single_2.jpg);
    aspect-ratio: 16/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.img-single-work-article-3 {
    background-image: url(../img/test_lavoro_single_3.jpg);
    aspect-ratio: 16/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.img-single-work-article-4 {
    background-image: url(../img/test_lavoro_single_4.jpg);
    aspect-ratio: 16/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


#box-right-work-article a {
    font-weight: 600;
    font-size: 22px;
    color: var(--b5blu);
    text-decoration-line: underline;
}


#box-right-work-article h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    color: var(--b5blu);
}

#box-left-work-article {
    box-sizing: border-box;

}

#box-info-left-work-article {
    background-color: var(--b5blu);
}

.box-info-title-left-work-article {
    font-style: normal;
    font-weight: 500;
    width: 100%;
    font-size: auto;
    color: var(--b5bianco);
}

.box-info-title-right-work-article {
    font-style: normal;
    font-weight: 400;
    width: 100%;
    font-size: auto;
    color: var(--b5blu);
}


#box-info-right-article {

    border-top: 2px solid var(--b5blu);
    border-bottom: 2px solid var(--b5blu);
    border-right: 2px solid var(--b5blu);

}


.titolo-work-article {
    font-weight: 600;
    font-size: 52px;
    text-transform: uppercase;
    color: var(--b5blu);
}

.luogo-work-article {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: var(--b5blu);
}

.back-button-work-article {
    font-style: normal;
    font-weight: 600;
    color: var(--b5rosso);
    font-size: 22px;
    text-align: center;
    text-decoration-line: underline;
}

.share-text-work-article {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.link-social-work-article {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-decoration-line: underline;
}


/** MASONRY GALLERY TEST 1***/

.row-custom-single-article {
    display: flex;
    flex-wrap: wrap;

}

/* Create four equal columns that sits next to each other */
.col-custom-article {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
}

.col-custom-article img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: 0.3s linear;
}

.col-custom-article img:hover {
    filter: grayscale(0);
}

@media screen and (max-width: 800px) {
    .col-custom-article {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-custom-article {
        flex: 100%;
        max-width: 100%;
    }

    .col-custom-article img {
        filter: grayscale(0) brightness(1);
    }
}



/*é*********/
















/* OLD work article


.img-work-article {
    background-image: url("https://images.unsplash.com/photo-1569317002804-ab77bcf1bce4?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dW5zcGxhc2h8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60");
    aspect-ratio: 16/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
}

#box-right-work-article {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid var(--b5blu);

}

#box-left-work-article {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 2px solid var(--b5blu);
    border-bottom: 2px solid var(--b5blu);
    border-left: 2px solid var(--b5blu);


}

#box-info-left-work-article {
    background-color: var(--b5blu);
}

.box-info-title-left-work-article {
    font-style: normal;
    font-weight: 500;
    width:100%;
    font-size: auto;
    color: var(--b5bianco);
}

.box-info-title-right-work-article {
    font-style: normal;
    font-weight: 400;
    width:100%;
    font-size: auto;
    color: var(--b5blu);
}







#box-info-right-article {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 2px solid var(--b5blu);
    border-bottom: 2px solid var(--b5blu);

}


.titolo-work-article{
    font-weight: 600;
font-size: 52px;
text-transform: uppercase;
color: var(--b5blu);
}

.luogo-work-article{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
color: var(--b5blu);
}

.back-button-work-article{
font-style: normal;
font-weight: 600;
color: var(--b5rosso);
font-size: 22px;
text-align: center;
text-decoration-line: underline;
}

.share-text-work-article{
    font-style: normal;
font-weight: 400;
font-size: 20px;
color: #000000;
}

.link-social-work-article{
    font-style: normal;
font-weight: 600;
font-size: 20px;
text-decoration-line: underline;
}

*/