<!--------------------- Prima sezione --------------------->

<div class="container-fluid px-0 container-main">

    <!-- Contenitore -->
    <div class="content-container row mx-0 container-heading">
        <div class="col-12 px-0">
            <div class="row mx-0 pt-4 ml-3 ml-sm-5">
                <div class="col-12 px-0">
                    <h1 class="gllText">
                        
                        {{"WORKS_TITLE" | translate}}
                    
                    </h1>
                </div>
            </div>

            <div class="row mx-0 ml-3 ml-sm-5">
                <div class="col-12 col-sm-9 px-0 text-left">
                    <p class="gllText">

                        {{"WORKS_DESCRIPTION" | translate}}
                        
                    </p>
                </div>
            </div>

            <!-- LISTA CATEGORIE -->

            <div ng-if="isIdle()" class="row mx-0 ml-3 ml-sm-5 pt-2 pt-sm-0 sezione-lista-categorie">
                <div class="col-lg-7 col-sm-12 px-0">
                    <div class="row mx-0 justify-content-start">
                        <div class="justify-content-center text-center">
                            <input type="radio" id="void-category" name="workCategory" value="" ng-model="vm.filters['category_slug']" checked="checked">
                            <label class="p-4 m-1" for="void-category">
                                {{"ALL_CATEGORIES_BTN" | translate}}
                            </label>
                        </div>
                        <div ng-repeat="category in vm.worksCategoryInfos track by $index" ng-if="category.post_count > 0" class="justify-content-center text-center">
                            <input type="radio" id="{{category.slug}}" name="workCategory" value="{{category.slug}}" ng-model="vm.filters['category_slug']">
                            <label class="p-4 m-1" for="{{category.slug}}">
                                {{category.slug | translate}}
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            


            <div ng-if="isIdle()" class="row mx-0 py-5 px-3 px-sm-5 justify-content-lg-between container-card-progetto">
                
                    <div  ng-repeat="work in vm.worksInfos | filter:vm.filters" class="col-6 col-sm-3 px-0 pt-0 pt-sm-2 card-progetto">
                        <a href="#!/works/{{work.slug}}">
                        <div class="row mx-0 pr-2 pr-sm-3">
                            <div class="col-12 px-0 pt-3 mr-3 card-progetto-img" style="background-image: url('{{work.thumbnail_url}}');">
                            </div>
                
                        </div>
    
                        <div class="row mx-0 pr-2 pr-sm-3">
                    
                            <div class="col-12 px-0 mr-3 text-left categoria">
                                <h5 class="px-0 my-2 my-sm-3 ml-2 ml-sm-3 gllText">{{work.category_slug | translate}}</h5>
                            </div>
                        </div>
    
                        <div class="row mx-0 pr-2 pr-sm-3 justify-content-between">
    
                            <div class="col px-0 py-1 mr-3 text-left">
                                <h3 class="my-0 my-sm-0 mt-1 mt-sm-2 mx-0 gllText">{{work.title | translate}}</h3>
                            </div>
    
                        </div>
    
                        <div class="row mx-0 pr-2 pr-sm-3 justify-content-between">
    
                            <div class="col-12 px-0 pt-0 pt-sm-1 mr-3 text-letf ">
                                <h4 class="my-0 my-sm-0 mx-0 gllText">{{work.custom_fields_values["place"]}}</h4>
                            </div>
                        
                        </div>
               
                
                    </a>
                    
                </div>
            </div>

            <!-- SKELETRON -->

            <div ng-if="isLoading() || isInitial()" class="skeletron">
                <h2></h2>
                <p></p>
                <h2></h2>
                <p></p>
            </div>
                    
                <!-- 404 magazine -->
            
            
            <div ng-if="isFailed()" class="col mx-0 pl-5 pt-4 pb-5">
                <h1>{{'404_MAGAZINE_TITLE' | translate}}</h1>
                <h3>{{'404_MAGAZINE_DESCRIPTION' | translate}}</h3>
                <hr class="my-4">
                <p>{{'404_MAGAZINE_SUBTITLE' | translate}}</p>
            </div>

        </div>


    </div>

</div>