<nav id="nav-bar" class="navbar m-0 p-0 fixed-top navbar-expand-lg navbar-dark navbar-custom">
  <button class="navbar-toggler navbar-mobile-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a href="#!/" class="nav-mobile-item header-mobile ml-3">
    <b>B5</b> idee in cammino
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar-nav-custom">
      <li class="nav-item nav-desktop-item">
        <a class="nav-link gllBlock" href="#!/"><b>B5</b> idee in cammino</a>
      </li>
      <li class="nav-item nav-desktop-item">
        <a class="nav-link gllBlock" href="#!/works">{{'WORKS_BTN' | translate}}</a>
      </li>
      <li class="nav-item nav-desktop-item">
        <a class="nav-link gllBlock" href="#!/magazine">{{'MAGAZINE_BTN' | translate}}</a>
      </li>
      <li class="nav-item nav-desktop-item">
        <a class="nav-link gllBlock" href="#!/meet-us">{{'MEET_US_BTN' | translate}}</a>
      </li>

      <li class="nav-item nav-mobile-item">
        <button class="nav-link btn btn-link" onclick="location.href='#!/works'" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          {{'WORKS_BTN' | translate}}
        </button>
      </li>
      <li class="nav-item nav-mobile-item">
        <button class="nav-link btn btn-link" onclick="location.href='#!/magazine'" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          {{'MAGAZINE_BTN' | translate}}
        </button>
      </li>
      <li class="nav-item nav-mobile-item">
        <button class="nav-link btn btn-link" onclick="location.href='#!/meet-us'" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          {{'MEET_US_BTN' | translate}}
        </button>
      </li>
      <li class="nav-item nav-mobile-item dropdown">
        <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'LANGUAGE_BTN' | translate}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" ng-click="changeLanguage('en')">eng</a>
          <a class="dropdown-item" ng-click="changeLanguage('it')">ita </a>
          <a class="dropdown-item" ng-click="changeLanguage('fr')">fra </a>
        </div>
      </li>


    </ul>


    <ul class="navbar-nav mr-5 navbar-nav-custom">
      <li class="nav-item dropdown">
        <a class="nav-link gllBlock" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'LANGUAGE_BTN' | translate}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" ng-click="changeLanguage('en')">eng</a>
          <a class="dropdown-item" ng-click="changeLanguage('it')">ita </a>
          <a class="dropdown-item" ng-click="changeLanguage('fr')">fra </a>
        </div>
      </li>
    </ul>

  
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>



  
</nav>



